/* @font-face {
  font-family: 'Sequel';
  font-display: swap;
  src: url('../fonts/sequel100black-45-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-display: swap;
  src: url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2');
} */
